@font-face {
  font-family: 'Aileron';
  src: url('fonts/Aileron-Regular.woff2') format('woff2'),
       url('fonts/Aileron-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('fonts/Aileron-Bold.woff2') format('woff2'),
       url('fonts/Aileron-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

body{
    background-color: black;
    font-family: Aileron, sans-serif;
}

.mezza-oro{
    background: linear-gradient(
    to bottom,
    black 0%,
    black 50%,
    #BF8C4E 50%,
    #BF8C4E 100%
  );
}

.pazzi{
    width: auto;
    height: 55vw;
}

/* Scritta Nascosta */
.scritta-nascosta {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.scritta-nascosta.visibile {
    opacity: 1;
    transform: translateY(0);
}

.img-colonna {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ritaglia per riempire */
    display: block;
}

/* Animazioni */
@keyframes slideIn {
    to { left: 0; }
}

@keyframes slideFromRight {
    to { right: 0; }
}

/* Slide in / Slide right */
.slide-in {
    position: relative;
    left: -100%;
    animation: slideIn 0.9s ease-out forwards;
}

.slide-right {
    position: relative;
    right: -100%;
    animation: slideFromRight 1.0s ease-out forwards;
}

.condimento{
  width: 500px;      /* o qualunque dimensione tu voglia */
  height: 500px;
  object-fit: cover;
}


.text-on-gold{
  position: relative;
  top: 45%;
}

.navbar{
  background-color: transparent !important;
}

.offcanvas {
  background-color: transparent !important;
  backdrop-filter: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


@media (max-width: 575.98px) {
  .img-xs {
    width: 90%;
    height: auto;
  }

  .navbar{
      font-size: large;
  }

  .offcanvas{
    --bs-offcanvas-width: 150px;
  }

}

@media(min-width: 768px){
    .text-on-gold{
      font-size: 1.35rem;
      position: relative;
      top: 38%;
    }
    .title-on-gold{
      font-size: 2rem;
      position: relative;
      top: 40%;
    }

    .offcanvas{
    --bs-offcanvas-width: 150px;
  }
}

@media(min-width: 992px){
    .text-on-gold{
      font-size: 1.8rem;
      position: relative;
      top: 50%;
    }
    .title-on-gold{
      font-size: 2.5rem;
      position: relative;
      top: 48%;
    }

    .navbar{
      font-size: large;
    }
}

@media(min-width: 1200px){
  .text-on-gold{
      font-size: 1.8rem;
      position: relative;
      top: 60%;
    }
    .title-on-gold{
      font-size: 2.5rem;
      position: relative;
      top: 58%;
    }
}

